.titlebar {
  height: 30px;
  background: transparent;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.titlebar-drag-region {
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 12px;
  color: white;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 30px;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.1s;
}

.titlebar-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.titlebar-button.close:hover {
  background: #e81123;
}

.titlebar-icon {
  width: 12px;
  height: 12px;
}

